@media (max-width: 1500px) {

  .header__title {
    max-width: 520px;
    text-align: center;
  }


  .header__menu-item {
    max-width: 188px;
  }

  .header__menu-list {
    justify-content: center;
  }

  .header .header__dropdown-menu_lg {
    top: 60px;
  }
  .header__menu-item {
    margin-bottom: 20px;
  }

}


@media (max-width: 1024px) {
  .header__title {
    font-size: 25px;
    line-height: 38px;
    max-width: 410px;
  }

  .header .visually-btn {
    max-width: 155px;
    text-align: left;
  }

  .header__logo {
    width: 80px;
  }

  .header .visually-btn {
    padding-left: 23px;
    font-size: 16px;
    line-height: 18px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .header__dropdown-menu a {
    font-size: 18px;
    line-height: 22px;
  }


  .header__dropdown-menu {
    border-radius: 10px;
    padding: 26px 26px 28px 26px;
    position: absolute;
    top: 35px;
    left: 0;
    width: 320px;
    height: auto;
  }

  .header__dropdown-menu li:not(:last-child) {
    margin-bottom: 18px;
  }

}

@media (max-width: 950px) {

  .header__menu-item:nth-child(5),
  .header__menu-item:nth-child(6) {
    .header__dropdown-menu {
      right: initial;
      left: -200px;
    }
  }
}

@media (max-width: 850px) {
  .header__menu-item:nth-child(4) {
    .header__dropdown-menu {
      right: initial;
      left: 0;
    }
  }
  .header__menu-item:nth-child(3) {
    .header__dropdown-menu {
      right: 0;
      left: initial;
    }
  }
  .header__menu-item:nth-child(2) {
    .header__dropdown-menu {
      left: -70px;

    }
  }
}

@media (max-width: 768px) {
  .header {
    position: relative;
    z-index: 25;
  }
  .header__info {
    position: relative;
    z-index: 30;
    padding: 20px 0;
    transition: all .5s;
  }
  .header__info .container {
    justify-content: space-between;
  }
  .header__logo {
    min-width: 55px;
    width: 55px;
    height: 55px;
  }

  .header__title,
  .header .visually-btn {
    display: none;
  }

  .header__burger-mobile,
  .header__title-mobile {
    display: block;
  }
  .header__control {
    margin: 0;
  }
  .header__control-personal {
    justify-content: flex-start;
  }
  .header__control-personal button:first-of-type {
    margin-right: 20px;
  }
  .header__control-personal a svg,
  .header__control-personal button:first-of-type svg {
    width: 23px;
  }
  .header__control-personal button:hover svg path {

  }
  .header__menu {
    width: 100%;
    height: 100vh;
    padding: 40px 0 0;
    position: absolute;
    top: 95px;
    transform: translateY(-200%);
    left: 0;
    background-color: #0348B0;
    transition: all .3s;
  }
  .header__menu-list {
    padding-left: 80px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__menu-item {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .header__menu-item:nth-child(n) {
    padding-right: 22px;
  }

  .header__menu-item:last-child svg {
    display: block;
  }

  .header__menu-item:hover {

    .header__menu-link {
      color: #FFFFFF;
    }

    svg {
      transform: rotate(270deg);

      path {
        fill: #FFFFFF;
      }
    }
  }
  .header__menu-item:not(:last-child) {
    margin-right: 0;

  }

  .header__menu-item svg {
    position: static;
    transform: translateY(0) rotate(270deg);

  }
  .header__menu-item svg path {
    fill: #FFFFFF;
  }
  .header__menu-link {
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .header__dropdown-menu {
    display: none;
  }

}

@media (max-width: 576px) {
  .header__menu-list {
    padding-left: 10px;

  }
}
